body{
    background-image: url(pink-serenity-strike-warrior-wielding-the-sword-4k-3840x2160_1705093296-1536x862.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.information{
    position: relative;
    width: 400px;
    height: 400px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: 1px white solid ;
    border-radius: 50px;
}

.header{
    display: flex;
    justify-content: center;
    font-size: x-large;
}

.email{
    display: flex;
    justify-content: center;
}

.email input::placeholder{
    color: white;
}

.email input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
    margin: 10px;
    font-size: large;
    color: white;
    border-bottom:2px solid;
}

.email i{
    position: absolute;
    right: 20px;
    top: 104px;
    color: white;
    padding-left: 20px;
    font-size: x-large;
    font-weight: 500;
}

.passoword{
    display: flex;
    justify-content: center;
}

.passoword input::placeholder{
    color: white;
}

.passoword input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
    margin: 10px;
    font-size: large;
    color: white;
    border-bottom: 2px solid;
}

.passoword i{
    position: absolute;
    right: 20px;
    top: 183px;
    color: white;
    padding-left: 20px;
    font-size: x-large;
    font: 500;
}

.remember{
    display: flex;
    justify-content: space-between ;
    color: white;
}

.remember label,a{
    color: white;
    margin-right: 10px;
}

.loginbutton input{
    position: relative;
    width: 150px;
    height: 40px;
    border: 2px white solid;
    border-radius: 20px;
    margin-top: 10px;
    background-color: transparent;
    color: white;
    left: 120px;
}

.loginbutton input:hover{
    background-image: linear-gradient(to right ,white ,transparent );
}

.sigin a{
    display: flex;
    justify-content: end;
    margin-top: 30px;
}

